

.collectibles {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

    text-align: center;
    background: fuchsia url("../img/svg/image.svg") no-repeat center center / 12rem;

    &:hover {
        & .main-texts {
            transform: translateY(-16rem);
            transition: 0.5s;
        }
    }
}

.collectibles .main-texts {
    padding-block: 8rem;
    height: .5rem;
    min-width: 50%;
    justify-content: center;

    transition: 0.7s;
    background-image: radial-gradient(ellipse 50% 40%, #ffffffa0, transparent);
}