main {
    position: relative;
    top: 4rem;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

main > * {
    border-radius: 3rem;
    height: 80vh;
}

main .title {
    text-align: center;
    font-size: 5rem;
    font-family: Playwrite DE Grund;
    align-self: center;
}